{% load static %}

<div class="container">
    <div class="container">
        <div class="row d-flex flex-row-reverse align-items-center" data-aos="fade-up" data-aos-duration="1500">
            <div class="col-sm-12 col-md-8 col-lg-6 mb-3 mt-3 jumbotron">
                <h2 class="text-center main-heading">Products</h2>
                <hr class="w-50 mt-4">
                <p  class="text-center landing-paragraph mb-lg-4 mt-lg-4">
                    We belive in high quality products that doesn't cost a fortune.
                </p>
                <div class="text-center mt-4">
                <a href="{% url 'products' %}" class="btn btn-secondary uppercase px-3">
                    See products
                </a>
                </div>
            </div>
        </div>
    </div>
</div>