<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-5 text-center text-white p-4">
            <h2 class="text-center pt-5 main-heading">Services</h2>
            <hr class="divider-green w-50 mt-4">
            <p  class="landing-paragraph mb-lg-4 mt-lg-5">
            We do it all
            </p>
            <div class="text-center mt-5 mb-3">
                <a href="{% url 'services' %}" class="btn button-green-transparent uppercase px-3">
                    Read more
                </a>
            </div>
        </div>            
    </div>
</div>
