<div class="container">
    <div class="container">
        <div class="row d-flex align-items-center" data-aos="fade-up" data-aos-duration="1500">
            <div class="col-sm-12 col-md-8 col-lg-6 mb-3 mt-3 jumbotron">
                <h2 class="text-center main-heading">Find inspiration</h2>
                <hr class="w-50 mt-4">
                <p  class="text-center landing-paragraph mb-lg-4 mt-lg-4">
                    The most inspiring moments comes from the people who experienced them.
                    Welcome in to see who are upcoming speaker might be.
                </p>
                <div class="text-center mt-4">
                <a href="{% url 'services' %}" class="btn btn-secondary uppercase px-3">
                    View our services
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
