{% extends "base.html" %}

{% load static %}
{% block extra_title %}- Home{% endblock %}
{% block content%}
<!--Hero carousel and buttons-->
{% include 'landing/includes/hero_carousel_and_buttons.html' %}


<!--About section-->
{% include 'landing/includes/landing_about.html' %}

<!--Services section-->
{% include 'landing/includes/services_section.html' %}


<!--Products shop section-->
{% include 'landing/includes/products_shop_section.html' %}

<!--Review section-->
{% include 'landing/includes/landing_reviews.html' %}

<!--Contact section-->
{% include 'landing/includes/landing_contact.html' %}

{% endblock %}