{% extends "base.html"%}
{% load static %}
{% block extra_title %}- About{% endblock %}
{% block content%}

<div class="container">
    <div class="row">
        <div class="col">
            Breadcrumb
        </div>
    </div>
</div>

<div class="container my-3 my-md-5"">
    <!--About Heading-->
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="uppercase main-heading">About us</h1>
            <hr>
        </div>
    </div>
    <!--About- Main sections-->
    <div class="container">
        {% include 'about/includes/who_we_are.html' %} 
        {% include 'about/includes/our_knowledge.html' %}  
        {% include 'about/includes/our_motto.html' %}
    </div>
</div>
{% endblock %}