<div class="row text-center d-flex align-items-center pt-4 mb-5 mt-3">
    <!--Our knowledge paragraph-->
    <div class="col-12 col-md-6 col-lg-5">
        <h3 class="text-center main-heading">Our Knowledge</h3>
        <p  class = "text-center landing-paragraph mt-lg-4">
            All of us working at <strong>Feel Good Now</strong> has a long history of experience in the field.
        </p> 
        <div class="text-center">
            <i class="fab fa-pagelines icon-green icon-large"></i>
        </div>
        <p class = "text-center landing-paragraph mb-lg-4 mt-lg-4"> 
        </p>
    </div>
</div>