<div class="row">
    <!--Whoe We Are section-->
    <div class="col-12 col-md-6 col-lg-5 mb-3">
        <h3 class="text-center main-heading">Who We Are</h3>
        <p class="text-center">
            We are a group of people that love what we are doing. Seeing the smiles 
            on people faces after they reach a goal is what we do this for.
        </p>
        <p class="text-center">
            The idea was ignited over <strong>25 years ago </strong>.
        </p>
    </div>
</div>
<div class="container"
    <div class="col"
        <img src="{{ STATIC_URL }}img/about/our-team.jpg" class="img-fluid" alt="our-team">
    </div>
</div>