{% extends "base.html" %}

{% load static %}
{% block extra_title %}- Products{% endblock %}

{% block content %}
    <div class="container mt-4 mb-5">
        <div class="row">
            <div class="container text-center mt-5">
                <h1 class="uppercase main-heading">Products</h1>
                <hr>
            </div>
        <div class="row justify-content-md-center">
        {% if not products %}
            <div class="col">
                <h5>Looks like there are no products here to find...</h5>
            </div>
        {% else %}
            {% for product in products %}
                {% if not product.is_a_service %}
                    {% include 'products/includes_products/products_cards.html' %}
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}
