{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Services{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row ">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Services</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-10 mt-4">
            {% for service in services %} 
            <div class="card mb-4 rounded-lg shadow" data-aos="fade-up" data-aos-duration="900" data-aos-easing="ease-in-out">
                <div class="row no-gutters">
                    <div class="col-12 col-md-5 ">
                    {% if img %}
                    <a href="{% url 'service' service.id %}">
                        <img class="card-img-top img-fluid" src="{{ service.image.url }}" alt="{{ service.name }}">
                    </a>
                    {% elif service.image %}
                        <img src="{{ STATIC }}{{ service.image}}" 
                                class="card-img img-fluid service-image" 
                                alt="{{ service.name }}">
                    {% else %}
                        <img class="card-img img-fluid service-no-img"
                            src="{{ STATIC_URL }}img/no-image.jpg" 
                            alt="{{ service.name }}">
                    {% endif %}
            {% endfor %}
    {% endblock %}